In [1]:
import numpy as np
import pandas as pd
import csv
import math

In [7]:
# 加载数据
movies = pd.read_csv("datasets/ml-25m/movies.csv")
links = pd.read_csv("datasets/ml-25m/links.csv")
tags = pd.read_csv("datasets/ml-25m/tags.csv")
from scipy.sparse import csr_matrix
ratings = pd.read_csv("datasets/ml-25m/ratings.csv")
# 将电影ID和用户ID转换为连续索引
user_ids = ratings['userId'].unique()
movie_ids = ratings['movieId'].unique()
user_id_map = {id_: idx for idx, id_ in enumerate(user_ids)}
movie_id_map = {id_: idx for idx, id_ in enumerate(movie_ids)}
ratings['userId'] = ratings['userId'].map(user_id_map)
ratings['movieId'] = ratings['movieId'].map(movie_id_map)
# 创建用户-电影交互矩阵
num_users = len(user_ids)
num_movies = len(movie_ids)
interaction_matrix = csr_matrix((ratings['rating'], (ratings['userId'], ratings['movieId'])), shape=(num_users, num_movies))
print("Interaction matrix shape:", interaction_matrix.shape)

# 将矩阵转换为DataFrame
interaction_df = pd.DataFrame.sparse.from_spmatrix(interaction_matrix, index=user_ids, columns=movie_ids)

In [8]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

Interaction matrix shape: (162541, 59047)